html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: grey;
}
.col-md-6 {
  background-color: white;
}
