{{#partial "content"}}


    {{#if allTeams}}
        <h1>List of Teams:</h1>
        <ul>
            {{#each allTeams}}
                <li>{{nameOfTeam}}  <a href="/teams/{{id}}"><span aria-hidden="true">Add members</span></a></li>
            {{/each}}
        </ul>
    {{else}}
        <p><a href="/teams/new">Add a New Team</a></p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}
