{{#partial "content"}}
    <p>Name of Team Member</p><hr>
    <p>{{ members.participantName }}</p>
    <p>Age of Team Member</p><hr>
    <p>{{ members.age }}</p>
    <p>Description of Team Member</p><hr>
    <p>{{ members.description }}</p>
    <hr>

    <a href="/members/new">Add another Member</a>
    <a href="/members">All Members</a>
    <a href="/members/{{members.id}}/update">Edit a member </a>


{{/partial}}

{{> layout.hbs}}